extends ../layouts/layout.pug
include ../mixins/pages

block content
  h1(style="margin-bottom: 0px;") Cars
  div(style="width: 450px;padding-top: 0px;")
    form(method="GET" action="/car/cars" name='carForm')
      
      div(style="padding-bottom: 10px;padding-top: 1px;padding-left: 1px; float: left; width: 100px;")
        p(style="margin-left: 0px;margin-bottom: 5px;") Brand: 
        select#brand-selection(autofocus='' size='9' name='brand' style="width:120px")
          option
          if carBrands
              each brand in carBrands
                option(value=`${brand.name}`) #{brand.name}
        
      div(style="width:300px;float:right;padding-bottom: 10px;padding-top: 1px;")
          p(style="margin-left: 0px;margin-bottom: 5px;") Model:
          select#model-selection(autofocus='' name='model' style="width:120px")
            option
         
          p(style="margin-left: 0px;margin-top: 5px;margin-bottom: 5px;") Release year:
          input(type="number" name="releaseYear")
          p(style="margin-left: 0px;margin-top: 5px;margin-bottom: 5px;") VIN:
          input(type="text" name="vin" )
          br
          button(style="margin-top: 5px;") Find
  div
   table#carstatusesadmin-table(border='2'  width='20%' cellpadding='2' cellspacing='1')
    tbody 
      tr
        td
          strong №
        td   
          strong Car
        td   
          strong VIN
        td 
          strong Client name 
        td   
          strong Action
           
    if cars 
      each car, index in cars
         tr
            td.admin #{step * (Number(page) - 1) + (index + 1)}
            td.admin 
              a(href=`/car/${car._id}`) #{car.brand} #{car.model} #{car.releaseYear}
            td.admin #{car.vin}
            td.admin 
              a(href=`/client/${car.owner._id}`) #{car.owner.name}
            td.admin 
                button(type='button' id=`${car._id}_car` style='color: red;' onclick='deleteItem(this.id)') X
  div
    if cars 
      +pages(page, totalPages, 'cars', serchString)
  script(src='/delete-config.js')
  script(src='/models.js')