
div
   table#orderstatuses-table(border='2'  width='20%' cellpadding='4' cellspacing='1')
    tbody
      tr
        td(colspan='6')
          strong Orders:  
      tr
        td
          strong №
        td
          srong Car
        td   
          srong WorkPost 
        td   
          srong Status
           
    if orders 
      each order, index in orders
         tr
            td #{index + 1}
            td #{order.car.brand} #{order.car.model} #{order.car.releaseYear}
            td #{order.order.workPost}
            td #{order.order.orderStatus}
            td
              a(href=`/order/${order.order._id}`) info

