extends ../layouts/layout.pug

block content
    
  div
     table#client-table(border='2'  width='20%' cellpadding='4' cellspacing='1')
      tbody
        tr
          td(colspan='6')
            strong Name: 
            p3 #{client.name}
        tr
          td(colspan='6')
            strong Licens number: 
            p3 #{client.licensNumber}
        tr
          td(colspan='6')
            strong Cars:
        tr
          td №
          td Model
          td Release year
          td VIN 
      if cars
        each car, index in cars
          tr
            td #{index + 1}
            td 
              a(href=`/car/${car._id}`) #{car.brand} #{car.model}
            td #{car.releaseYear}
            td #{car.vin}
  div
      button 
        a(href=`/car/createcar/${client._id}`) Добавить авто  
