div.inner
      form#order(method="POST" action=`/order/update/${order._id}` name='jobs')
        input(type="hidden" name="_method" value="PUT")
        div.info
          input(type="hidden" name="car" value=`${car._id}`)
          input(type="hidden" name="client" value=`${client._id}`)
          input#orderid(type="hidden" name="order" value=`${order._id}`)
          table#jobinfo(border='1'  width='20%' cellpadding='4' cellspacing='1')
            tbody
              tr
                td(colspan='4')
                  strong ORDER: 
                  p3 #{order.number} 
              tr
                td
                  strong Car:   
                  a(href=`/car/${car._id}`) 
                    p3 #{car.brand} #{car.model} (#{car.releaseYear})
              tr
                td
                  strong Owner:
                  p3   
                    a(href=`/client/${client._id}`) #{client.name}
              tr
                td
                  strong Status:
                  p3  #{order.orderStatus}
                    
        div
          table#jobtable(border='0'  width='20%' cellpadding='4' cellspacing='1')
            tbody
              tr
                td(colspan='4')
                  strong JOBS:
              tr
                td
                  strong №
                td
                  srong Name
                td
                  srong Cost
                td   
            if order.jobs
              each job, index in order.jobs
                tr.jobrows
                  td #{index + 1}
                  td #{job[0]}
                  td(id=`job-cost${index + 1}`) #{job[1]}
        div 
          table#jobcost(border='1'  width='20%' cellpadding='4' cellspacing='1')
            tbody
              tr
                td(colspan='4')
                  strong TOTAL:  
                    input#total(type='number' disabled)
                  strong   RUR
script(src='/closed-order.js')
