extends ../layouts/layout.pug

block content
    h1 #{car.brand} #{car.model}  (#{car.releaseYear}) vin: #{car.vin}
    if client
      h3 Owner: 
        a(href=`/client/${client._id}`) #{client.name} (#{client.licensNumber}) 
    h3 Orders:
    if orders
      ul
        each order in orders
          li #{order.number} #{new Date(order.createdAt).toLocaleString('en-US')}  
            a(href=`/order/${order._id}`) Инфо
    a(href=`/order/create/${client._id}/${car._id}`) Создать заказ