extends ../../layouts/layout.pug
include ../../mixins/pages

block content
  h1(style="margin-bottom: 0px;") Cars
  div(style="width: 450px;padding-top: 0px;")
    form(method="GET" action="/pgcar/cars" name='carForm')
      
      div(style="padding-bottom: 10px;padding-top: 1px;padding-left: 1px; float: left; width: 100px;")
        p(style="margin-left: 0px;margin-bottom: 5px;") Brand: 
        select#brand-selection(autofocus='' size='9' name='brand' style="width:120px" class='find-options')
          option
          if carBrands
              each brand in carBrands
                option(value=`${brand.name}`) #{brand.name}
        
      div(style="width:300px;float:right;padding-bottom: 10px;padding-top: 1px;")
          p(style="margin-left: 0px;margin-bottom: 5px;") Model:
          select#model-selection(autofocus='' name='model' style="width:120px" class='find-options')
            option
         
          p(style="margin-left: 0px;margin-top: 5px;margin-bottom: 5px;") Release year:
          select(type="number" name="releaseYearBefore" style="margin-right: 10px;" class='find-options') 
            option
            - var year = new Date().getUTCFullYear();
            while year > 1980
              option= year--
              
          select(type="number" name="releaseYearTo" class='find-options')
            option
            - var year = new Date().getUTCFullYear();
            while year > 1980
              option= year--
          p(style="margin-left: 0px;margin-top: 5px;margin-bottom: 5px;") VIN:
          input(type="text" name="vin" class='find-options')
          br
          button(style="margin-top: 5px;") Find
  div
   table#carstatusesadmin-table(border='2'  width='20%' cellpadding='2' cellspacing='1')
    tbody 
      tr
        td
          strong №
        td   
          strong Car
        td   
          strong VIN
        td 
          strong Client name 
           
    if cars
      each car, index in cars.data
         tr
            td.admin #{cars.meta.take * (Number(cars.meta.page) - 1) + (index + 1)}
            td.admin 
              a(href=`/pgcar/${car.id}`) #{car.brand.name} #{car.model.name} #{car.releaseYear}
            td.admin #{car.vin}
            td.admin 
              a(href=`/pgclient/${car.owner.id}`) #{car.owner.name}
  div
    if cars.meta.totalPages > 1 
      +pages(cars.meta.page, cars.meta.totalPages, 'cars', serchString)
  script(src='/pgmodels.js')