extends ../../layouts/layout.pug
include ../../mixins/pages

block content
    h1 Users
    div.find
      form(method="GET" action='/pguser')
        div(style="padding-bottom: 1px;padding-top: 1px;padding-left: 1px;")
          p(style='margin-bottom:2px; margin-top: 2px;') Login:
          input.login(type='text' name='login')
          p(style='margin-bottom:2px; margin-top: 2px;') Name:
          input.name(type='text' name='name')
          p(style='margin-bottom:2px; margin-top: 2px;') Roles:
          select#roles-selection(autofocus name='roles' size='4' multiple='true' title='Ctrl + Click for few options')
            option(autofocus)
            option(value='ADMIN') ADMIN
            option(value='MANAGER') MANAGER
            option(value='USER') USER
          br
          label
            input.users-checkbox(type='checkbox' name='roles_choosed' value='true' id=`users-checkbox` style="margin-left: 0px;margin-top: 8px;")
            | only choosed
          br  
          button(style="margin-top: 8px;") Find
    div
      table#users-table(border='2'  width='20%' cellpadding='4' cellspacing='1')
        tbody
          tr
            td.admin
              strong №
            td.admin
              strong Login
            td.admin
              strong Name
            td.admin
              strong Roles
            td.admin
              strong Action
        if users.data
          each user, index in users.data
            tr
              td.admin #{users.meta.take * (users.meta.page - 1) + (index + 1)} 
              td.admin #{user.login}
              td.admin #{user.name}
              td.admin #{user.roles.sort()}
              td.admin 
                button(type='button' id=`${user.id}_user` style='color: red;' onclick='deleteItem(this.id)' title="delete") X
                
    div
      if users 
        +pages(users.meta.page, users.meta.totalPages, '/pguser')
    div
      button 
        a(href="/pguser/create") Add user
    script(src='/delete-config.js')